{% extends "layout.html" %}

{% block content %}
    {% if user.id %}
        <div class="polls">See today's <a href="/polls">polls</a>.</div>
    {% else %}
        <div>Please login prior to voting.</div>
    {% endif %}
{% endblock %}
