<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Vote now!</title>
</head>

<body>
    <ul class="menu">
        {% if user.id %}
            <li class="welcome">Hello, {{ user.username }}.</li>
        {% else %}
            <li><a class="login-form" href="/accounts/login/">Login</a></li>
        {% endif %}
    </ul>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
